@page "/"
@using KafkaTester.Model
@using KafkaTester.Components

<h2><img class="logo" src="image/logo-mini.png" alt="logo" /> K-Tester</h2>
<hr />
<div>
    <form>
        <div class="row">
            <div class="col-10">
                <Settings Options="@Options" OnChanged="@Refresh" />
            </div>
        </div>
    </form>
    <form>
        <div class="row">
            <div class="col-5">
                <Brokers Options="@Options" OnChanged="@Refresh" />
            </div>
            <div class="col-5">
                <Topic Options="@Options" OnChanged="@Refresh" />
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <Filter Options="@Options" OnChanged="@Refresh" />
            </div>
            <div class="col-5 text-right">
                <SearchButton Options="@Options" OnSearch="@OnSearch" />
            </div>
        </div>
    </form>
</div>
<Messages Items="@FilteredMessages" Errors="@Errors" Options="@Options" CountTotalMessages="@AllMessages.Count" />
